<h1 id="critcs_title">Critics</h1>
<table id="critics_table">
  <tr>
    <th>Name</th>
    <th>Biography</th>
    <th>Reviews</th>
  </tr>
  <% @critics.each do |c| %>
    <tr>
      <td><%= c.name %></td>
      <td><%= c.bio %></td>
      <td>
        <table>
          <% c.reviews.each do |r| %>
            <tr>
              <td>Get movie name by ID somehow</td>
              <td><%= r.rating %></td>
              <td><%= r.text %></td>
            </tr>
          <% end %>
        </table>
      </td>
    </tr>
  <% end %>
</table>