<h1>Movies</h1>

<table id="movies_table">
  <tr>
    <th>Title</th>
    <th>Average Rating</th>
    <th>Review</th>
  </tr>
  <% @movies.each do |m| %>
    <tr>
      <td><%= m.name %></td>
      <td><%= m.avg_rating %></td>
      <td><a href="../reviews/new">Create a review for this movie!</a></td>
    </tr>
  <% end %>
</table>

<br>
- A review is not currently attached to any movie; there is an attribute movie_id for a review; use this somehow?<br>
- <a href="../critics">Temporary link to critics</a>