<h1>Your Subscriptions</h1>
<table id="viewers_buttons">
  <tr>
    <th><h3>Movie Subscriptions</h3></th>
    <th><h3>Critic Subscriptions</h3></th>
  </tr>
  <tr>
    <td>
      <table>
        <% current_viewer.movies.each do |m| %>
          <tr><%= link_to m.name, movie_path(m.id) %></tr>
        <% end %>
      </table>
    </td>
    <td>
      <table>
        <% current_viewer.critics.each do |c| %>
          <tr><%= link_to c.name, critic_path(c.id) %></tr>
        <% end %>
      </table>
    </td>
  </tr>
  <tr>
    <td><%= button_to "Explore Movies", movies_path, :class => "button medium", :method => :get %></td>
    <td><%= button_to "Explore Critics", critics_path, :class => "button medium", :method => :get %></td>
  </tr>
</table>

<br>
<h3>Notes</h3>
<b>REMOVE</b>- current_viewer isn't working<br>
<b>REMOVE</b>- Only critics should be able to make reviews?<br>
<b>REMOVE</b>- Compute avg_rating; should be out of 100 and integer<br>
<b>REMOVE</b>- Extra gem of some sort (not from class/hw/proj1)<br><br>